.highScores {
    color: purple;
    font-size: 2rem;
    margin-left: 20px;
}

.time {
    color: purple;
    font-size: 2rem;
    margin-left: 75%;
}

.quiz {
    text-align: center;
}

p {
    text-align: center;
}

#start {
    background-color: purple;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 45.5%;
}